---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="container">
        <h1>NieR Resources</h1>
        <a class="chalk" target="_blank" href="/angelic">...Agrippa's Angelic</a>
        <a class="chalk" target="_blank" href="https://iansjk.github.io/lyrics/">...Song Lyrics</a>
    </div>
</Layout>

<style lang="scss">
    a {
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
</style>