---
import "greset";

const { title } = Astro.props;
interface Props {
	title?: string;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title + " - " : ""} NieR Resources</title>
	</head>
	<body>
		<main><slot /></main>
	</body>
</html>

<style lang="scss">
	html,
	body {
		margin: 10px 50px;
		height: 100%;
	}
</style>
